<div>
  <mat-card class="example-card mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{joke.setup}}</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        Ans: {{joke.punchline}}
      </p>

      <div>
        <app-favorite></app-favorite>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
