<h2 mat-dialog-title>
  Add New Joke?
</h2>
<hr>
<mat-dialog-content>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur accumsan ante sit amet aliquam. Ut in maximus
  arcu. Nullam semper turpis ut fringilla cursus. Phasellus sed mollis nisl. Vestibulum eget mollis lectus. Duis luctus arcu
  vel lorem euismod pharetra. Nunc sed mauris eget elit pulvinar hendrerit quis ac nulla. Duis ut elit luctus, condimentum
  diam vel, viverra mi. Cras varius nisl non rhoncus tempus. Ut ullamcorper blandit vestibulum. Orci varius natoque penatibus
  et magnis dis parturient montes, nascetur ridiculus mus. Curabitur dignissim aliquam ante et condimentum. Aliquam erat
  volutpat. Proin quis augue aliquam, elementum felis id, lobortis dolor. Duis eget porttitor lectus. Ut nec efficitur ante.
  Some data: {{data.text}}
  <br>
  <h4>{{data.newJoke.id}}</h4>
  <p>{{data.newJoke.setup}}</p>
  <p>{{data.newJoke.punchline}}</p>
</mat-dialog-content>
<hr>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="OnCloseConfirm()">Save</button>
  <button mat-raised-button color="accent" (click)="OnCloseCancel()">Cancel</button>
</mat-dialog-actions>
